.first-color { 
	background: #42b883; 
}
	
.second-color { 
	background: #347474; 
}

.third-color { 
	background: #35495e; 
}

.fourth-color { 
	background: #ff7e67; 
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

#main-container { 
    margin: auto;
    width:80%;
    height:100%;
    background-color: #35495e;
    border-radius: 5px;
    color: aliceblue;
}

body {
    height: 100%;
    background: #000000;
}

.nav {
    border-radius: 5px;
    background-color: #35495e;
    overflow: hidden;
}

.nav * {
    float: left;
    color:#42b883;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    height: 100%;
}

.nav a:hover {
    background-color: #000000;
}

.nav a.active {
    background-color: #347474;
    color: azure;
}

#image-container {
    display: flex;
    justify-content:space-around;
    align-items:flex-start;
    justify-content: center;
}

.card-container {
    border:5px solid #35495e;
    border-radius: 20%;
    flex: 1;
    height: 67vh;
    margin: 10px;
    transition: flex 1s;
    transition-timing-function: ease;
}

.card-container img {
    border-radius: 20%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-container:hover {
    flex: 2;
}

.show {
    font-size: 18px;
    opacity: 0;
    color: #35495e;
    text-align: center;
    font-weight: 600px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-container:hover .show {
    font-size: 36px;
    opacity: 1;
    transition: 1s ease;
    color: aliceblue;
}

table {
    background-color: #347474;
    margin: 5px 10px;
    border-radius: 5px;
    border: 2px solid #42b883;
}

td:first-child {
    font-weight: 700;
    text-align: right;
    color: #000000;
}

th {
    font-weight: 700;
    color: #000000;
}

th, td {
    text-align: center;
}